<div class="container mt-2">
    <div class="row">
        <div class="col-6">
            <h5>@CharacterLabel</h5>
            Status: @StatusText
            <img src="@Character.Image" width="250" data-toggle="modal" data-target="@TagModalName"/>
        </div>
        <div class="col-6">
            <ul style="list-style-type:none">
                <li>Health: @Character.Health / @Character.MaxHealth</li>
                <li>Mana: @Character.Mana / @Character.MaxMana</li>
                <li>Combat: @Character.Combat</li>
                <li>Thievery: @Character.Thievery</li>
                <li>XP: @Character.XP</li>
                <li>Level: @Character.Level</li>
                <li>Item: None</li>
                <li>Worn: Ordinary Clothes</li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="@ModalName" tabindex="-1" role="dialog" aria-labelledby="CharacterDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="color: #f7f7f7; background-color: #222222">
            <!--<div class="modal-header">
                <h5 class="modal-title">Ordeal of Kylan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>-->
            <div class="modal-body" style="text-align: center; align-content: center">
                <img src="@Character.Image"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Character Character { get; set; }

    public string ModalName { get => Character.Name; }
    public string TagModalName { get => "#" + Character.Name; }

    private string StatusText
    {
        get
        {
            if (Character.Statuses.Count == 0)
            {
                return "Good";
            }
            else
            {
                return string.Join(",", Character.Statuses);
            }
        }
    }

    private string CharacterLabel
    {
        get
        {
            if (Character.IsPlayer)
            {
                return Character.Name + " (You)";
            }
            else
            {
                return Character.Name;
            }
        }
    }
}
