<div class="mt-2">
    <h5>@CharacterLabel</h5>
    <h6>Status: @StatusText</h6>
    <img src="@Character.Image" width="250" />
</div>

<!--<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@CharacterLabel</h5>
        <h6 class="card-subtitle mb-2">Status: @StatusText</h6>
        <img src="@Character.Image" width="250"/>
    </div>
</div>-->

@code {
    [Parameter]
    public Character Character { get; set; }

    private string StatusText
    {
        get
        {
            if (Character.Statuses.Count == 0)
            {
                return "Good";
            }
            else
            {
                return Character.Statuses[0];
            }
        }
    }

    private string CharacterLabel
    {
        get
        {
            if (Character.IsPlayer)
            {
                return Character.Name + " (You)";
            }
            else
            {
                return Character.Name;
            }
        }
    }


}
