@inject IEncounterProvider EncounterProvider
@inject IPartyProvider PartyProvider
@inject IMessageProvider MessageProvider
@inject NavigationManager NavManager
@using PerilDungeon.Classes.Encounters

<h4>@encounter.Title</h4>

@if (HasCustomImage)
{
    <img src="@CustomImage" width="300" data-toggle="modal" data-target="#EncounterModal"/>
}
<p>@encounter.Description</p>

@foreach (var choice in encounter.Choices)
{
    <button @onclick="()=>HaveEncounter(choice)" class="btn btn-primary" disabled="@DisabledFromChoice(choice)">@choice.Text</button>
}

<div class="modal fade" id="EncounterModal" tabindex="-2" role="dialog" aria-labelledby="EncounterDialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="color: #f7f7f7; background-color: #222222">
            <div class="modal-body" style="text-align: center; align-content: center">
                <img src="@CustomImage"/>
            </div>
        </div>
    </div>
</div>

@code {
    private IEncounter encounter;
    private Party party;

    private bool HasCustomImage
    {
        get
        {
            return ((encounter != null) && (encounter is ICustomEncounterImage));
        }
    }

    private string CustomImage
    {
        get
        {
            if (!HasCustomImage)
            {
                return "";
            }
            return "assets/" + (encounter as ICustomEncounterImage).ImageName;
        }
    }

    protected override void OnInitialized()
    {
        party = PartyProvider.Party;
        encounter = EncounterProvider.NextEncounter;
        EncounterProvider.RefreshRequested += RefreshMe;
    }

    private void HaveEncounter(IEncounterChoice e)
    {
        IEnumerable<string> messages = e.Choose(party);
        foreach (string message in messages)
        {
            MessageProvider.AddMessage(message);
        }
        MessageProvider.CallRequestRefresh();
        PartyProvider.CallRequestRefresh();
        if (party.GameOver)
        {
            party.GameOver = false;
            NavManager.NavigateTo("gameover");
            EncounterProvider.NextEncounter = new FirstEncounter();
            encounter = EncounterProvider.NextEncounter; //apparently this is the main loop?
            EncounterProvider.CallRequestRefresh();
            return;
        }
        if (party.MainQuestProgress == MainQuestProgress.Victory)
        {
            party.MainQuestProgress = MainQuestProgress.Beginning;
            NavManager.NavigateTo("victory");
            EncounterProvider.NextEncounter = new FirstEncounter();
            encounter = EncounterProvider.NextEncounter; //apparently this is the main loop?
            EncounterProvider.CallRequestRefresh();
            return;
        }
        EncounterProvider.NextEncounter = e.GetNextEncounter(party, encounter);
        encounter = EncounterProvider.NextEncounter; //apparently this is the main loop?
        EncounterProvider.CallRequestRefresh();
    }

    private bool DisabledFromChoice(IEncounterChoice e)
    {
        return !e.IsAvailable;
    }

    private void RefreshMe()
    {
        StateHasChanged();
    }
}
